@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  width: 100%;
  border: solid red;
}

.header {
  position: relative;
  width: auto;
  height: 300px;
  border-bottom: 1px solid #0cebba;
  z-index: 2;
}

.center {
  position: absolute;
  top: 30px;
  left: 370px;
  display: inline-block;
  background: url(/img/place.jpg) 0 0/contain no-repeat;
  border: solid rgb(207, 18, 18);
  width: 1200px;
  height: 250px;
}

.text4 {
  position: absolute;
  top: 245px;
  right: 40px;
  border: solid rgb(10, 92, 245);
  width: 240px;
  height: 35px;
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 900;
  color: #000000;
}

.text3 {
  position: absolute;
  top: 15px;
  right: 80px;
  border: solid rgb(36, 94, 202);
  width: 150px;
  height: 65px;
  font-family: Montserrat;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  color: #000000;
}

.text2 {
  margin: 169px 30px;
  border: solid rgb(22, 22, 21);
  width: 142px;
  height: 40px;
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 900;
  color: #1a1717;
}

.text1 {
  position: relative;
  top: 30px;
  display: block;
  margin: 0 30px;
  border: solid 0.5px;
  width: 270px;
  height: 70px;
  font-family: Roboto;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 900;
  color: #000000;
}

.main {
  margin: 2px;
  height: 3450px;
  border: solid rgba(207, 182, 230, 0.945);
}
.main .articlemain {
  position: relative;
  border: solid rgb(17, 17, 56);
  width: 1400;
  height: 900;
}
.main .articlemain .picture {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 37.5%;
  width: 800px;
  border: solid green;
}
.main .articlemain .article {
  padding: 20px;
  font-size: 40px;
  display: inline-block;
  margin: 5px;
  border: solid rgb(4, 4, 53);
  height: 800px;
  width: 950px;
}
.main .articlemain .article span {
  color: red;
  font-size: 150px;
  line-height: 80px;
  font-weight: 400;
}
.main .articlemain .article h2 {
  display: inline-block;
  border: solid;
  color: #473847;
}
.main .articlemain .article .h1 {
  border: solid rgb(4, 4, 53);
  height: 80px;
  font-family: Montserrat;
  font-size: 80px;
  color: #0cebba;
  line-height: 80px;
  font-weight: 900;
  text-transform: uppercase;
}
.main .articlemain .link {
  font-size: 100px;
  color: green;
  font-style: italic;
  font-weight: 700px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  background: url(../img/bg5.avif) 0 0/auto 100% repeat;
}